<html>

<head>
</head>

<body>
    <form action="{{ url_for('scrape') }}" method="POST">
        <input type="text" name="urlInput">
        <input type="submit">
    </form>
    <br> https://arstechnica.com
    
    <br> Results:
    <br> # of positive sentence: {{ num_pos }}
    <br> Most positive sentence: {{ most_pos }}
    <br>
    <br> # of negative words: {{ num_neg }}
    <br> Most negative sentence: {{ most_neg }}
    <br> Result: {{ results }}
    <br> Errors: {{ errors }}
    <br> A: {{ a }}
    <br>
    {{line_list}}
    <br>---
    <br>
    {{sentences}}

</body>

</html>