<html>

<head>
</head>

<body>
    <form action="{{ url_for('scrape') }}" method="POST">
        <input type="text" name="urlInput">
        <input type="submit">
    </form>
    <br> <b>Total:</b> {{ count_total }}
    <br> <b># of positive:</b> {{ count_pos_comp }}
    <br> <b>Most compound positive comment:</b> {% for key, value in most_positive_comp_reduced.items() %} {{ value }} {% endfor %}
    <br> <b> Most comp pos full:</b> {{ most_positive_comp_full }}
    <br> <b>Most positive:</b> {{ most_pos }}
    <br>
    <br> <b># of negative:</b> {{ count_neg_comp }}
    <br> <b>Most compound negative comment:</b> {% for key, value in most_negative_comp_reduced.items() %} {{ value }} {% endfor %}
    <br> <b>Most comp neg full:</b> {{ most_negative_comp_full }}
    <br> <b>Most negative:</b> {{ most_neg }}
    <br> {% if errors %} ERROR: {{ errors }} {% endif %}
    <br>
</body>

</html>